/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
body > div {
  height: 100%;
}

.MuiListItemIcon-root {
  min-width: 32px !important;
}
